.myNavbar {
    height: 55px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.myLinks {
    align-items: center;
    display: flex;
    margin-right: 60px;
}

.myLinks a {
    color: floralwhite;
    margin-left: 25px;
    font-size: 20px;
}